
html.hb-declutter .nav .nav-content .nav-links > .nav-link:first-child {
  display: none;
}

html.hb-declutter #page-bbs-community > .content > .right {
  display: none;
}

html.hb-declutter #page-bbs-community > .content {
  justify-content: center;
}
html.hb-declutter #page-bbs-community > .content > .list {
  max-width: none;
}
